{% extends "index.html" %}

{% block content %}
    <script>
        function copyText(id) {
            var el = document.getElementById(id);
            el.select();
            document.execCommand("copy")
            console.log(el.nextSibling)
            el.nextElementSibling.classList.remove('bg-yellow-500')
            el.nextElementSibling.classList.remove('border-yellow-700')
            el.nextElementSibling.classList.remove('hover:bg-yellow-400')
            el.nextElementSibling.classList.remove('hover:border-yellow-500')
            el.nextElementSibling.classList.add('bg-gray-500')
            el.nextElementSibling.classList.add('border-gray-700')
            el.nextElementSibling.classList.add('pointer-events-none')
        }
    </script>
    <section>
        <h2 class="text-2xl font-black mb-4">Data</h2>
        <a href="/" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 inline-block rounded mb-4">Back to start</a>
        
        <div class="bg-white shadow-md rounded my-6">
        <table class="text-left w-full border-collapse">
            <thead>
            <tr>
                <!-- <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-sm text-gray-dark border-b border-gray-light" align="left">Class</th> -->
                <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-sm text-gray-dark border-b border-gray-light" align="left">Defense</th>
                <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-sm text-gray-dark border-b border-gray-light" align="left">DPS</th>
                <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-sm text-gray-dark border-b border-gray-light" align="left">Export</th>
                <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-sm text-gray-dark border-b border-gray-light" align="left">Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}

            <tr>
                <!-- <td class="py-4 px-6 border-b border-grey-light">{{ d.character_class}}</td> -->
                <td class="py-4 px-6 border-b border-grey-light">
                    <span class="bg-blue-400 px-4 py-2 inline-block mb-2 rounded">{{ d.energy_shield}}</span><br>
                    <span class="bg-red-400 px-4 py-2 inline-block rounded">{{ d.life }}</span>
                </td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <b>{{d.max_dps_skill}}</b><br>{{ d.max_dps}}
                </td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <input id="pob-{{ d.id }}" style="position:absolute; transform:translateY(-20000px)" value="{{ d.pob_export }}" type="text">
                    <a href="javascript:copyText('pob-{{d.id}}')" class="bg-yellow-500 hover:bg-yellow-400 text-black font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded">Copy</a>
                </td>
                <td class="py-4 px-6 border-b border-grey-light">
                    {% if d.last_update %}
                        {{ d.last_update.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
